<div class="home">
    <div class="home-content banner">
      <h1>Task Manager</h1>
      <p>
        TaskManager is a powerful, feature-rich task management Web-app designed to help teams and individuals stay organized, focused, and efficient. Providing a seamless experience from start to finish, making it easier to manage tasks, track progress, and collaborate in real-time.
      </p>
      <div class="button-group">
        <a routerLink="/login" color="accent" class="Buy-button unselectable">Login</a>
        <a routerLink="/register" color="accent" class="secondary-button unselectable">Register</a>
      </div>
    </div>
    <!-- <div class="home-image">
      <img src="/Images/standing_person.svg" alt="pc pic png" />
    </div> -->
</div>
    