<div class="home">
    <div class="home-content banner">
      <h1>Task Manager</h1>
      <p>TaskManager is a powerful, feature-rich task management system designed to help teams and individuals stay organized, focused, and efficient. Built with advanced technologies like ASP.NET Core and Angular, TaskManager provides a seamless experience from start to finish, making it easier to manage tasks, track progress, and collaborate in real-time.</p>
      <div class="button-group">
        <a routerLink="/download" color="accent" class="Buy-button unselectable">Login</a>
        <a color="accent" class="secondary-button unselectable">Register</a>
      </div>
    </div>
    <div class="home-image">
      <img src="/Images/standing_person.svg" alt="pc pic png" />
    </div>
</div>
    